<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <style>    
            h1{
                text-align: left;
                color: green;
            }
            .error{
                color: red;
            }
        </style>
    </head>

    <body>
        <nav>
            {% if 'user' in session %}
                <h3>Welcome, {{ session['user'] }}!</h3>
                <a href = "/logout">Log Out</a>|<a href = "/newpost">Create New Entry</a>
                </form>
                {% else %}
                    <a href = "login">Login</a> | <a href = "signup">Sign Up</a>
            {% endif %}
            |<a href = "/">Blog Home</a>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>