<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <style>    
            h1{
                text-align: left;
                color: green;
            }
            .error{
                color: red;
            }
        </style>
    </head>

    <body>
        <nav>
            {% if 'user' in session %}
                {{ session['user'] }}
                <form action = '/logout' method = "post" id = 'logout'>
                    <input type = "submit" value = "Log Out" />
                </form>
                {% else %}
                    <a href = "login">Login</a> | <a href = "signup">Sign Up</a> |<a href = "/newpost">Create New Entry</a>
            <a href = "/blog">Blog Home</a>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>